html {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    color: #24292e;
    background-color: #fff;
}

button:hover {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 35px;
    top: 0;
    padding: 16px 0;
    background-color: #24292e;
    color: hsla(0, 0%, 100%, .75);
    display: flex;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.gitCat {
    align-content: start;
    margin: 0;
    height: 32px;
    padding: 0 16px;
    width: 32px;
    border: none;
}

.octicon {
    height: 32px;
    width: 32px;
}

.whyGitHub {
    display: none;
}

.business {
    display: none;
}

.explore {
    display: none;
}

.marketplace {
    display: none;
}

.pricing {
    display: none;
}

.search {
    display: none;
    height: 20px;
    width: 240px;
    background-color: hsla(0,0%,100%,.125);;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
}

.signIn,
.signUp {
    height: 32px;
    width: 73px;
    padding: 4px 8px;
    font-size: 15px !important;
    background-color: transparent;
    color: #fff;
}

.signIn {
    display: none;
    border: none;
}

.signUp {
    border: 1px solid rgb(209, 213, 218);
    border-radius: 3px;
}

.toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    margin-left: 25px; 
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: #fff;
    display: block;
    margin: 0.2rem 0;
}

.jumbotron {
    padding: 40px 0 !important;
    background: url(https://2600index.info/Links/35/2/assets-cdn.github.com/images/modules/site/heroes/simple-codelines.svg) center/cover no-repeat border-box, #2b3137;
    color: hsla(0,0%,100%,.6);
}

.container {
    max-height:  670px;
    padding: 0 16px;
}

.info {
    height: auto;
    width: 100%;
    vertical-align: middle;
    margin: 0;
}

.info h1 {
    font-size: 48px;
    color: #fff;
    margin: 0;
    margin-bottom: 16px;
    font-weight: 300;
    text-align: center;
}

.info p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}

.hightlight {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #ffffff20;
}

.hightlight:hover {
    font-style: underline;
    border-bottom-color: #fff;
}

.formContainer {
    display: none;
}

.formContainer input {
    border: 1px solid #d1d5da;
    background-color: #fafbfc;
    display: block;
    width: calc(100% - 20px);
    height: 26px;
    text-align: left;
    font-weight: 300;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    font-size: 16px;
}

label {
    font-size: 14px;
}

.formContainer p {
    font-size: 13px;
    line-height: 1rem;
    font-weight: 300px;
}

#username,
#email {
    margin-bottom: 15px;
}

.formContainer p > a {
    color: #0366d6;
}

.button {
    display: block;
    background-color: #2ebc4f;
    padding: 20px 32px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.buttonOut {
    display: block;
    background-color: #2ebc4f;
    padding: 20px 32px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 206px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

.tryGitHubConteiner,
.comunityStatsContainer {
    padding: 0 16px;
}

.tryGitHub {
    padding: 40px;
    text-align: center;
}

.tryGitHub h1 {
    font-size: 29px;
    font-weight: 300;
    line-height: 39px;
    margin: 0;
    color: #24292e;
}

.tryGitHub p {
    margin: 0;
    line-height: 24px;
    color: #586069;
    margin-bottom: 16px;
}

#pricingLink {
    color: #1277eb;
    text-decoration: none;
    box-shadow: 0 1px 0 0 #1277eb80;
    transition: .2s;
}

#pricingLink:hover {
    box-shadow: 0 1px 0 0 #1277eb;
}

.contactSales,
.startTrial {
    width: 100%;
    height: 51px;
    text-align: center;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border: 0;
    border-radius: 3px;
}

.contactSales {
    margin-bottom: 8px;
    background-color: #1277eb;
    color: #fff;
}

.contactSales:hover {
    background-color: #0366d6;
}

.startTrial {
    background-color: hsla(0,0%,100%,0)!important;
    box-shadow: inset 0 0 0 1px rgba(18,119,235,.5);
    color: #1277eb;
}

.startTrial:hover {
    box-shadow: inset 0 0 0 1px #1277eb;
    color: #0366d6;
    text-decoration: none;
}

.businessesContainer {
    padding: 0 16px;
}

.businessInfo {
    padding: 48px 0;
    color: #6a737d;
    overflow-wrap: break-word;
    text-align: center;
} 

.businessLogos {
    display: flex;
    flex-flow: wrap;
    filter: grayscale(100%);
    list-style: none;
    margin: 0;
    margin-top: 8px;
    padding: 0;   
    justify-content: center;
}

.businessLogos li {
    height: 40px; 
}

.businessLogos img {
    position: relative;
    margin: 10px;
    height: 20px;
    padding: 0 8px;
}

.forTeams,
.sa,
.integrations,
.community {
    padding: 48px 0; 
}

.sectionTitle {
    margin: 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: #586069;
    font-size: 16px !important;
}

.forTeamsSignupContainer,
.sa-container,
.integrationsContainer,
.communityContainer {
    padding: 0 16px 40px 16px;
    text-align: center;
}

.sa-container {
    padding-bottom: 0;
    /* text-align: left; */
}

.integrationsContainer {
    padding-bottom: 0;
}

.forTeamsSignupContainer h1,
.sa-container h1,
.integrationsContainer h1,
.communityContainer h1 {
    margin: 16px 0 8px 0;
    font-size: 42px;
    font-weight: 400;
    color: #24292e;
}

.forTeamsSignupContainer p,
.sa-container p,
.integrationsContainer p,
.communityContainer p {
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    color: #586069;
    margin-top: 0;
    margin-bottom: 24px;
}

.joinGitHub,
.for-business,
.integrations-img {
    background-color: hsla(0,0%,100%,0);
    color: #1277eb!important;
    height: 64px;
    width: auto;
    padding: 20px 32px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(18,119,235,.5);
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    vertical-align: middle;
}

.joinGitHub:hover,
.for-business:hover,
.integrations-img:hover {
    box-shadow: inset 0 0 0 1px #1277eb;
    color: #0366d6!important;
    text-decoration: none;
}

.bump-link-symbol {
    display: inline-block;
    transform: translateX(0);
    transition: .2s;
}

.joinGitHub:hover .bump-link-symbol,
.float-right a:hover .bump-link-symbol,
.for-business:hover .bump-link-symbol,
.integrations-img:hover .bump-link-symbol {
    transform: translateX(3px);
}

.betterTeam,
.host {
    padding: 0 16px;
}

.largeContainer {
    padding-top: 40px;
}

.img-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    width: 83.33333%;
}

.img-box img {
    width: 100%;
}

.summary a {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #24292e;
    justify-content: space-between;
    cursor: pointer;
    margin: 24px 0;
    line-height: 21px;
    overflow-wrap: break-word;
}

.summary a h3,
.summary h3 {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #24292e;
    margin: 0 0 4px 0;
}

.summary p {
    font-size: 14px;
    font-weight: 300;
    color: #24292e;
    margin: 0 0 16px 0;
    line-height: 21px;
    text-align: left;
    overflow-wrap: break-word;
}

.link-bt {
    color: #1277eb;
    box-shadow: 0 1px 0 0 rgba(18,119,235,.5);
    transition: 0.2s;
}

.link-bt:hover {
    box-shadow: 0 1px 0 0 #1277eb;
    color: #0366d6;
}

.host-box {
    display: flex;
    background-color: #fff;
    border: 1px solid #e1e4e8 !important;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.float-left {
    display: block;
    width: 64px;
    margin-right: 24px;
    float: left;
}

.float-right {
    display: block;
    line-height: 1.5rem;
    width: calc(100% - 88px);
}

.float-right h4 + p {
    margin: 0 8px 10px 0;
}

.float-right h4 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.float-right p {
    color: #586069;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.float-right a {
    color:  #0366d6;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transform: translateX(0);
    transition: .2s;
}

.btn-integrations {
    margin-bottom: 40px;
}

.circled-logos {
    display: flex !important;
    flex-flow: wrap;
    padding-bottom: 40px;
    justify-content: center;
}

.circled-logo {
    width: 96px;
    height: 96px;
    display: flex;
    border-radius: 50%;
    margin: 16px;
    align-items: center; 
    justify-content: center;
    box-shadow: 0 1px 5px rgba(27,31,35,.15);
}

.circled-logo img { 
    height: auto!important;
    max-height: 55%!important;
    max-width: 60%!important;
}

.icon-slack {
    background-color: #553958;
}

.icon-zenhub {
    background-color: #364e98;
}

.icon-travisCI {
    background-color: #eff9f9;
}

.icon-atom {
    background-color: #5fb57d;
}

.icon-circleCI {
    background-color: #022531;
}

.icon-google {
    background-color: #f2f2f2;
}

.icon-codeClimate {
    display: none;
    background-color: #303030;
}

.more-tools p {
    color:#586069;
    margin: 8px 0;
    font-size: 14px;
    text-align: center;
    line-height: 1.5rem;
}

.more-tools p+p {
    margin-bottom: 10px;
    margin-left: auto!important;
    margin-right: auto!important;
    color: #0366d6;
    font-size: 16px;
    margin-top: 0px;
}

.more-tools p > a:hover .bump-link-symbol {
    transform: translateX(3px);
}

.communityContainer {
    padding-bottom: 0px;
}

.communityContainer .sectionTitle {
    margin: 0;
}

.sectionTitle-community h1 {
    margin-top: 16px;
    margin-bottom: 24px;
}

.sectionTitle-community p {
    margin-bottom: 10px;
}

.stories {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow: auto;
    margin: 40px 0;
    padding: 40px 8px;
    line-height: 24px;
    height: 368px;
    max-height: 448px;
    border-radius: 3px;
}

article {
    box-shadow: 0 10px 50px rgba(27,31,35,.07)!important;
}

.story {
    display: block;
    margin: 8px;
    overflow-wrap: break-word; 
}

.story:nth-child(odd) {
    margin-bottom: -16px;
}

.story:nth-child(2n) {
    margin-top: -16px;
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.story-link {
    display: block;
    cursor: pointer;
    position: relative;
    width: 264px;
    margin: 0;
    background-color: initial;
    text-decoration: none;
}

.story-img {
    border: none;
    position: relative;
    height: 264px;
    width: 264px;
}

.text-items {
    width: 232px;
    padding: 16px;
    /* width: 100%; */
    text-align: center;
    margin: 0;
}

.story-title {
    transition: color .3s;
    margin: 0 0 4px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 22.5px;
    color: #24292e;
    
}

.story-title + p {
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 18px;
    color: #586069;
    font-family: 'Inconsolata', monospace;
}

.story:hover {
    transform: scale(1.025);
    text-decoration: none;
    outline-width: 0;
}

.comunityStatsContainer:first-child p {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 400;
    color: #586069;
    text-align: center;
}

.stats {
    display: inline-block;
    align-items: center;
}


.stats a {
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.stats a:hover .orange-circle,
.stats a:hover .blue-circle,
.stats a:hover .purple-circle {
    outline-width: 0;
    text-decoration: none;
    transform: scale(1.05);
    transition: transform .3s;

}

.orange-circle {
    height: 163px;
    width: 163px;
    border: none;
    border-radius: 50%;
    background-color: #fb8532;
    transition: transform .3s;
    padding: 31px;
    margin: 40px auto 16px auto;
    justify-content: center;
    box-shadow: 0 10px 50px rgba(27,31,35,.07);
    transition: box-shadow .3s,border-color .3s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block-white {
    color: #fff;
    font-size: 32px!important;
}

.orange-circle span,
.blue-circle span,
.purple-circle span {
    font-size: 12px;
    color: #fff;
}

.stats-text {
    display: flex;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
}

.stats-text p {
    color: #24292e;
    font-size: 14px!important;
    line-height: 21px;
    margin: 0!important;
    width: 83.33333%;
    text-align: left!important;
}

.text-orange-light {
    color: #fb8532;
}

.octicon-triangle-right-orange {
    fill: #fb8532;
}

.blue-circle {
    height: 127px;
    width: 127px;
    border: none;
    border-radius: 50%;
    background-color: #0366d6;
    transition: transform .3s;
    padding: 24px;
    margin: 40px auto 16px auto;
    justify-content: center;
    box-shadow: 0 10px 50px rgba(27,31,35,.07);
    transition: box-shadow .3s,border-color .3s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-blue {
    color: blue;
}

.octicon-triangle-right-blue {
    fill: #0366d6;
}

.purple-circle {
    height: 92px;
    width: 92px;
    border: none;
    border-radius: 50%;
    background-color: #6f42c1;
    transition: transform .3s;
    padding: 24px;
    margin: 40px auto 16px auto;
    justify-content: center;
    box-shadow: 0 10px 50px rgba(27,31,35,.07);
    transition: box-shadow .3s,border-color .3s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-purple {
    color: #6f42c1;
}

.octicon-triangle-right-purple {
    fill: #6f42c1;
}

@media (min-width: 544px) {
    
    .info h1 {
        font-size: 64px;
    }

    .info p {
        text-align: justify;
    }

    .header {
        height: 56px;
    }

    .header-menu {
        max-width: 980px;
        height: 100%;
        padding: 0 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .gitCat {
        align-content: start;
        margin: 0;
        height: 32px;
        padding: 0 16px;
    }

    .jumbotron {
        padding-top: 64px!important;
        height: 798px;
    }

    .container {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }

    .formContainer {
        width: 60%;
        height: 410px;
        background-color: #fafbfc;
        color: #586069;
        border: none;
        padding: 24px;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        border-radius: 3px;
        line-height: 1.5rem;
    }

    .buttonOut {
        display: none;
    }

    .stats a:hover {
        outline-width: 0;
        text-decoration: none;
        transform: scale(1.05);
    }

    .comunityStats {
        padding: 0 40px;
    }

    .stats-text {
        padding: 24px;
    }
    
    .stats-text:hover {
        border-color: #d1d5da;
        box-shadow: 0 1px 15px rgba(27,31,35,.15);
    }
}

@media (max-width: 767px) {
    
}