html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    padding: 16px 0;
    background-color: #24292e;
    color: hsla(0, 0%, 100%, .75);
    display: flex;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.gitCat {
    align-content: start;
    margin: 0;
    height: 32px;
    padding: 0 40px;
    width: 32px;
    border: none;
}

.octicon {
    height: 32px;
    width: 32px;
}

.whyGitHub {
    display: none;
}

.business {
    display: none;
}

.explore {
    display: none;
}

.marketplace {
    display: none;
}

.pricing {
    display: none;
}

.search {
    display: none;
    height: 20px;
    width: 240px;
    background-color: hsla(0,0%,100%,.125);;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
}

.signIn,
.signUp {
    height: 32px;
    width: 73px;
    padding: 4px 8px;
    font-size: 15px !important;
    background-color: transparent;
    color: #fff;
}

.signIn {
    display: none;
    border: none;
}

.signUp {
    border: 1px solid rgb(209, 213, 218);
    border-radius: 3px;
}

.toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    margin-left: 25px; 
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: #fff;
    display: block;
    margin: 0.2rem 0;
}

.jumbotron {
    margin-top: 67px;
    padding-top: 64px!important;
    height: 556px;
    background: url(https://2600index.info/Links/35/2/assets-cdn.github.com/images/modules/site/heroes/simple-codelines.svg) no-repeat, #2b3137;
    color: hsla(0,0%,100%,.6);
}

.container {
    min-height: 476px;
    max-height:  670px;
    min-width: 767px;
    padding: 0 40px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-flow: row wrap; */
}

.info {
    height: auto;
    width: 50%;
    padding-right: 24px;
    vertical-align: middle;
    margin: 0;
    
    /* align-content: center; */
    /* align-items: center; */
}

.info h1 {
    font-size: 64px;
    color: #fff;
    margin: 0;
    margin-bottom: 16px;
    font-weight: 300;
}

.info p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    text-align: justify;
}

.hightlight {
    color: #fff;
}

.hightlight:hover {
    font-style: underline;
}

.formContainer {
    width: 40%;
    height: 100%;
    padding-left: 24px;
    background-color: #fafbfc;
    color: #586069;
    border: none;
}

@madia (min-width 500px) {
    .jumbotron {
        height: 749px;
    }
}

@media (min-width: 1012px) {
    .header {
        height: 56px;
    }

    .header-menu {
        max-width: 980px;
        height: 100%;
        padding: 0 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }
}